<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="descargaArchivoMicrodatosSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="descargaArchivoMicrodatosSoapBinding1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="descargaArchivoMicrodatosSoapBinding2" >
          <security mode="Transport" >
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="igaeCustomBinding">
          <security authenticationMode="MutualCertificate"
                    includeTimestamp="false"
                    allowInsecureTransport="true"
                    enableUnsecuredResponse="true"
                    allowSerializedSigningTokenOnReply="true"
                    messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
          </security>
          <textMessageEncoding messageVersion="Soap11"  />
          <httpsTransport  />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="igaeBehavior">
          <clientCredentials >
            <clientCertificate  storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="6F8DF57BD1D5CBE2E584A3B8748C1D0F79D1A853" />          
          <serviceCertificate>
            <defaultCertificate storeLocation="CurrentUser" storeName="AddressBook" x509FindType="FindByThumbprint" findValue="814e6fc95c9c779c46bb34882e04d54cd28684ad"/>
          </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://sedeapl.dgt.gob.es:8080/WS_IEST_COMP/descargaArchivoMicrodatosService"
          binding="customBinding" bindingConfiguration="igaeCustomBinding"
          contract="dgt.descargaArchivoMicrodatosPortType" name="descargaArchivoMicrodatosSoap"  behaviorConfiguration="igaeBehavior">
        <identity>
          <dns value="*.dgt.gob.es"/>
        </identity>
      </endpoint>
    </client>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="false"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="2147483647"
           maxSizeOfMessageToLog="2147483647" logKnownPii="true"/>
    </diagnostics>
  </system.serviceModel>

  <nlog>
    <targets>
      <target name="file" type="File" fileName="D:\tmp\log\DGT_${shortdate}.log"
              layout="${longdate} ${uppercase:${level}}  || Call site: ${callsite:className=true:methodName=true} ||  ${message} ${exception:format=toString}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="nlog" type="NLog.NLogTraceListener, NLog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="nlog" type="NLog.NLogTraceListener, NLog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>