<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="descargaArchivoMicrodatosSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="descargaArchivoMicrodatosSoapBinding1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="descargaArchivoMicrodatosSoapBinding2" >
          <security mode="Transport" >
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="igaeBehavior">
          <clientCredentials >
            <clientCertificate  storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="a1af757082d9680899cb8f96a79d69793467df04" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://sedeapl.dgt.gob.es:8080/WS_IEST_COMP/descargaArchivoMicrodatosService"
          binding="wsHttpBinding" bindingConfiguration="descargaArchivoMicrodatosSoapBinding2"
          contract="dgt.descargaArchivoMicrodatosPortType" name="descargaArchivoMicrodatosSoap"  behaviorConfiguration="igaeBehavior"/>
    </client>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="false"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="2147483647"
           maxSizeOfMessageToLog="2147483647" logKnownPii="true"/>
    </diagnostics>
  </system.serviceModel>

  <nlog>
    <targets>
      <target name="file" type="File" fileName="D:\tmp\log\DGT_${shortdate}.log"
              layout="${longdate} ${uppercase:${level}}  || Call site: ${callsite:className=true:methodName=true} ||  ${message} ${exception:format=toString}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <!--<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="nlog" type="NLog.NLogTraceListener, NLog" />
        </listeners>
      </source>-->
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="nlog" type="NLog.NLogTraceListener, NLog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>