<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="descargaArchivoMicrodatosSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="descargaArchivoMicrodatosSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sedeapl.dgt.gob.es:8080/WS_IEST_COMP/descargaArchivoMicrodatosService"
                binding="basicHttpBinding" bindingConfiguration="descargaArchivoMicrodatosSoapBinding"
                contract="dgt.descargaArchivoMicrodatosPortType" name="descargaArchivoMicrodatosSoap" />
        </client>
    </system.serviceModel>
</configuration>